.git
.env
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/tests
phpunit.xml
.editorconfig
.gitattributes
.npmrc
README.md
create_db.php
setup.php
test_mail.php
test_product.php
test_slide.cjs
